.option {
  background-color: #ffffff;
  border-radius: 12px;
  border: 2px solid rgba(96, 102, 208, 0.7);
  color: rgba(96, 102, 208, 0.8);
  cursor: pointer;
  width: 100%;

  &:active {
    color: #ffffff;
    background-color: #f9a826;
    border: 2px solid #f9a826;
  }

  &__content {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    height: 56px;
    padding: 15px 20px;
  }

  &__country {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__icon {
    margin-left: auto;
  }

  &__key {
    display: inline-block;
    margin-right: 30px;
    text-transform: uppercase;
  }

  &--is-correct {
    background-color: #60bf88;
    border: 2px solid #60bf88;
    color: #ffffff;
  }

  &--is-incorrect {
    background-color: #ea8282;
    border: 2px solid #ea8282;
    color: #ffffff;
  }
}
