.card {
  background-color: #ffffff;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  padding: 68px 32px 32px 32px;
  position: relative;
  width: 100%;

  &__title {
    color: #2f527b;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;

    &--highlight {
      color: rgba(96, 102, 208, 0.8);
    }
  }

  &__option {
    margin-top: 30px;
  }

  &__button {
    align-self: flex-end;
    background-color: #f9a826;
    box-shadow: 0px 2px 4px rgba(252, 168, 47, 0.4);
    border: 0;
    border-radius: 12px;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    margin-top: 24px;
    padding: 15px 37px;

    &:disabled {
      background-color: gray;
    }
  }

  &__image {
    position: absolute;
    top: -74px;
    right: 0;
  }
}
