.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 40px);
  padding: 20px;
}

.container {
  font-family: 'Poppins', sans-serif;
  width: 464px;
  max-width: 100%;

  &__title {
    color: #f2f2f2;
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  &__loading {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
  }
}
